html, body {
    margin: 0px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #4A3B4E;
    background-color: #EDE7F6;
    height: 100%;
    width: 100%;
}

.navBar {
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: #C5B3D1;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
}

.bg1, .bg2 {
    overflow-x: clip;
    z-index: -1;
    position: fixed;
}

.button-navBar {
    font-family: cursive;
    z-index: 13;
    padding: 30px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #4A3B4E;
    font-size: 25px;
    font-weight: 500;
}

.button-navBar:hover {
    cursor: pointer;
    color: #8E6F97;
}

.home {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90%;
    top: 10%;
    background-color: transparent;
    margin: 15px;
}

.content-left {
    padding: 5px;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C5B3D1;
    border-radius: 21px;
}

.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    height: 20%;
    width: 100%;
}

.h1-name {
    font-size: 45px;
    font-weight: 100;
}

.presentation {
    width: 90%;
}

p {
    font-size: 25px;
    color: #4A3B4E;
}

.bar {
    display: none;
}

.cv-image {
    height: 95%;
    border: 2px solid #A88EB6;
}

.content-cv, .content-video {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.video {
    width: 70%;
    height: 80%;
    border: 4px solid #8E6F97;
    background-color: #EDE7F6;
}

.image{
    width:50%;    
}

/* Responsive Styles */
@media (max-width: 1024px) {
    html, body {
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .home {
        flex-direction: column;
        height: auto;
        top: 10%;
        width: 100%;
        display: flex;
        overflow-y: scroll;
    }

    .image-me{
        width: 100%;
    }

    .content-left, .content-right {
        
        width: 90%;
        height: auto;
        padding: 10px;
    }
    .content-left {
        margin-bottom: 20px;
    }

    .button-navBar {
        font-size: 20px;
        padding: 20px;
    }

    .video {
        width: 90%;
        height: 60%;
    }

    .h1-name {
        font-size: 35px;
    }

    p {
        font-size: 20px;
    }
}



@media (max-width: 768px) {
    .navBar {
        height: 8%;
    }

    .button-navBar {
        font-size: 18px;
        padding: 15px;
    }

    .content-left {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .content-left, .content-right {
        
        width: 85%;
        height: auto;
        padding: 10px;
    }

    .video {
        width: 95%;
        height: 55%;
    }

    .h1-name {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .navBar {
        height: 7%;
        padding: 10px;
    }

    .button-navBar {
        font-size: 16px;
        padding: 10px;
    }

    .home {
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: visible;
        overflow-y: auto;
    }

    .content-left, .content-right {
        
        width: 85%;
        height: auto;
        padding: 10px;
    }

    .video {
        width: 100%;
        height: 50%;
    }

    .h1-name {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }
}
